<h1><%= @question.body %><br></h1>
<p>Choose the Correct Answer:</p>
<div class="field">
    <div class="choices">
			<% @question.choices.each do |choice| %>
	    	<div class="choice" >
		    	<%= radio_button :question, :choices, choice %>
		    	<%= choice %><br>
		    </div>		       	
    	<%end%>
    	<div class="submit">
				<button type="button">Check Answer</button> 
			</div>
    </div>      
  </div> 
</div>

<div class="show" visibility: hidden>
	<%= link_to "Next Page", next_page(@user, @question.page)%>
</div>
<div class="message">
</div>
<!-- <div class="progress" visibility: hidden>
	<span class="meter"></span>
</div> -->
<div class="progress large-6 success round" visibility: hidden>
	<span class="meter"></span>
</div>


<script type="text/javascript">	

	$('.submit').on("click", function(e){

		// Grab value that user selected
		var user_choice = $('.choice input:checked').val();
		// Compare with actual answer
		if (user_choice == <%= @question.correct_answer%>){
			$('.message').append("Correct!");
			$('.submit').toggle();
			$('.show').toggle();
			$('.progress').toggle();
			$('.meter').progressbar({
				value: <%= progress(@user, @question.page) %>
			});

		}
		else {
			$('.message').append("Incorrect!");
			$('.submit').toggle();
			$('.show').toggle();
			$('.progress').toggle();
			$('.meter').progressbar({
				value: <%= progress(@user, @question.page) %>
			});
		}		
	});
</script>



