<p id="notice"><%= notice %></p>
<%= @question.body %><br>
<p>Your Choices:</p><%= @question.text_choices %><br>
<%= @question.explanation %><br>

<%= link_to "Next Page", next_page(@question.page) %>
