<% content_for(:body_id, "lesson_pages")%> 
<head>
    <title>So Boxy</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/4.3.1/css/foundation.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/4.3.1/js/foundation.min.js"></script>
  </head>
  
  <body>
    
<br>
        <div class="row">
          <div class="columns large-12 large-centered">
            <div class="radius panel callout ">
              <h3><%= @question.page.subject.name %></h3>       
            </div>
          </div>
        </div>
      </div>
        <!-- End Header Content -->
         <div class="row">
          <div class="columns large-12 large-centered">
            <div class="panel">
              <h3><%= @question.body %></h3>
             <div class="field">
              <div class="choices">
                <% @question.choices.each do |choice| %>
                  <div class="choice" >
                    <%= radio_button :question, :choices, choice %>
                    <%= choice %><br>
                  </div>            
                <%end%>
              </div> 
            </div>
          </div>           
        
          <div class="submit">
            <button class="button small round" type="button">Check Answer</button> 
          </div>
        </div>
        <!-- End Search Bar -->
        <!-- Thumbnails -->
        
          
          <div class="large-8 small-6 columns"> 
            <div class="panel callout" visibility: hidden >
             <h4></h4>
              <h3><%= link_to 'Next Page', next_page(@user, @question.page)%></h3>
              <%= progress_bar(progress(@question.page))%>         
            </div>

            
          </div>
        <!-- End Thumbnails -->
        <!-- Footer -->
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>&copy; Copyright Prepify LLC</p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Your Progress</a></li>    
                  <li><a href="#">All Lessons</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </body>

</html>

      
    

<script type="text/javascript">	

	$('.submit').on("click", function(e){

		// Grab value that user selected
		var user_choice = $('.choice input:checked').val();
		// Compare with actual answer
		if (user_choice == <%= @question.correct_answer%>){
			$('.panel').toggle("clip");
			$('.panel h4').addClass('success label').append("Correct!");
			$('.submit').toggle();
			$('.show').toggle("clip");
			$('.progress').toggle();
      $('.progress').show();
			

		}
		else {
      $('.panel').toggle('clip');
			$('.panel h4').addClass('alert label').append("Incorrect!");
			$('.submit').toggle();
			$('.show').toggle();
			$('.progress').toggle();
			$('.progress').show();
		}		
	});
</script>



