<h1><%= @question.body %><br></h1>
<p>Choose the Correct Answer:</p>
<div class="field">
    <div class="choices">
			<% @question.choices.each do |choice| %>
	    	<div class="choice" >
		    	<%= radio_button :question, :choices, choice %>
		    	<%= choice %><br>
		    </div>
		       	
    	<%end%>
    	<div class="submit">
				<button type="button">Check Answer</button> 
			</div>
    </div>      
  </div> 
</div>

<div class="show">
	<%= link_to "Next Page", next_page(@question.page)%>
</div>


<script type="text/javascript">		
	$('.submit').on("click", function(e){

		// Grab value that user selected
		var user_choice = $('.choice input:checked').val();
		// Compare with actual answer
		if (user_choice == <%= @question.correct_answer%>){
			console.log('Correct!');
		}
		else {
			console.log("Incorrect!");
		}
		
		
	});
</script>



