<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Pageable</th>
      <th>Pageable type</th>
      <th>Subject</th>
      <th>Body</th>
      
    </tr>
  </thead>

<p> <%#= @pages.pageable %> </p>

  <tbody>

    <% @pages.each do |page| %>
      <tr>
        <td><%= page.sequence_id %></td>
        <td><%= page.pageable_id %></td>
        <td><%= page.pageable_type %></td>
        <td><%= page.subject.name %></td>
        <% if page.pageable %>
          <td><%= page.pageable.body %></td>
        <% else %>
          <td><%= "Please add content" %></td>
       <% end %>
       
        <td><%= link_to "Show Page" , admin_subject_page_path(@subject, page) %></td>
        <td><%= link_to "Update Page Sequence", edit_admin_subject_page_path(@subject, page) %></td>
        <td><%= link_to 'Destroy', admin_subject_page_path(@subject, page), method: :delete %></td>
        
       
      


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Question Page", new_admin_subject_question_path%> 

<%= link_to "New Instruction Page", new_admin_subject_instruction_path
%> 

