<% content_for(:body_id, "admin-pages") %> 
<div class="row">
  <div class="large-12 columns">
    <div>
      <h1 class="page-title"><%= @subject.name %></h1>
      <div class="center-buttons">
          <a href="#" class="show-edit-title-form tiny button ">Edit Title</a>
         <%= render 'admin/subjects/form', subject: @subject, id:"edit-title-form" %>
       </div>
    <!--   <div class#="center-buttons"><%#= link_to 'Edit Title', edit_admin_subject_path(@subject), class: 'tiny button' %> -->
     
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class = "center-buttons">
        <a href="<%= new_admin_subject_question_path %>" class="button">Create A New Question</a>
        <a href="<%= new_admin_subject_instruction_path %>" class="button">Create A New Instruction</a>
      </div>
      <table width="100%">
        <thead>
          <tr>
            <th>Sequence</th>
            <th>Page Type</th>
            <th>Content</th> 
            <th></th>
            <th></th>

          </tr>
        </thead>
        <tbody id="sortable-pages" data-sort-url="<%= sort_admin_subject_pages_path(@subject) %>">
          <% @subject.page_order.each do |page| %>
            <tr data-page-id='<%= page.id %>' id="page_<%= page.id %>" class="hover-move">
              <td><%= page.sequence_id %></td>
              <td><%= page.pageable_type %></td>
              <td><%= page.body_snippet %></td>  
              <% if page.pageable_type == "Question" %>
               <td> <%= link_to '<i class="fa fa-eye"> Preview</i>'.html_safe, admin_subject_question_path(@subject, page.pageable) %></td>
                <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_subject_page_path(@subject, page), data: {confirm: "Are you sure?"}, method: :delete, remote: true, title:"Delete Question Page" %></td>
                <% elsif page.pageable_type == "Instruction" %>
               <td> <%= link_to '<i class="fa fa-eye"> Preview</i>'.html_safe, admin_subject_instruction_path(@subject, page.pageable) %></td>
                <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_subject_page_path(@subject, page), data: {confirm: "Are you sure?"}, method: :delete, remote: true, title:"Delete Instruction Page" %></td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
       <div><a href="<%= admin_subjects_path %>" class="tiny button">Back to Admin Dashboard</a></div>
    </div>
  </div>
</div>



