<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @page.sequence_id %>
</p>

<p>
  <strong>Pageable type:</strong>
  <%= @page.pageable_type %>
</p>

<% if @page.pageable_type == "Question" %>
	
  <p>
    <strong>Body:</strong>
  <% if @pageable == nil %>
      <p> No content </p>
    <% else %>
      <%= @pageable.body %>
    <% end %>
  </p>
  <p>
    <strong>Choices:</strong>
  <% if @pageable == nil %>
      <p> No content </p>
    <% else %>
      <%= @pageable.choices %>
    <% end %>
   
  </p>
	<p>
    <strong>Correct Answer:</strong>
   <% if @pageable == nil %>
      <p> No content </p>
    <% else %>
      <%= @pageable.correct_answer %>
    <% end %>
  <% elsif @page.pageable_type == "Instruction" %>
  <p>
    <strong>Body:</strong>
    <% if @pageable == nil %>
      <p> No content </p>
    <% else %>
      <%= @pageable.body %>
    <% end %>
  </p>

<% end %>



<%= link_to "Edit", edit_admin_subject_page_path(@pageable, :page) %> 
<%#= link_to "Delete" , admin_subject_pages_path(@pageable, :subject, :page) %> 
<%= link_to "Back", admin_subject_pages_path(@page.subject_id) %> 
