<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @page.subject.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @page.sequence_id %>
</p>

<p>
  <strong>Pageable type:</strong>
  <%= @page.pageable_type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.pageable.body %>
</p>

<p>
  <strong>Choices:</strong>
  <%= @page.pageable.choices %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @page.pageable.answers %>
</p>
