<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @page.sequence_id %>
</p>

<p>
  <strong>Pageable type:</strong>
  <%= @page.pageable_type %>
</p>

<% if @page.pageable_type == "Question" %>
	
  <p>
    <strong>Body:</strong>
    <td><%= show_body(@pageable) %></td>
  </p>

  <p>
    <strong>Image:</strong>
    <td><%= show_image(@pageable) %></td>
  </p>

  <p>
    <strong>Choices:</strong>
    <td><%= show_choices(@pageable) %></td>
  </p>

	<p>
    <strong>Correct Answer:</strong>
    <td><%= show_correct_answer(@pageable) %></td>
  </p>

<% elsif @page.pageable_type == "Instruction" %>
   <p>
    <strong>Body:</strong>
    <td><%= show_body(@pageable) %></td>
  </p>

   <p>
    <strong>Image:</strong>
    <td><%= show_image(@pageable) %></td>
  </p>
<% end %>
  
<% if @page.pageable_type == "Question" %>
    <td><%= link_to "Edit Question Content" , edit_admin_subject_question_path(@subject, @question) %></td>
<% elsif @page.pageable_type == "Instruction" %>
    <td><%= link_to "Edit Instruction Content" , edit_admin_subject_instruction_path(@subject, @question) %></td>
<% end %>


<%#= link_to "Delete" , admin_subject_pages_path(@pageable, :subject, :page) %> 
<%= link_to "Back", admin_subject_pages_path(@page.subject_id) %> 
