<%= form_for [:admin, @subject], :html => {:class => "form-wrapper"} do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field(:section) %>
  </div>
  <div class="field">
    <%= f.label :name, "Title:" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions change-title">
    <%= f.submit class:'tiny button' %>
  </div>
<% end %>
