<tr data-subject-id='<%= subject.id %>'>
  <td class="word-wrap"><%= subject.name %></td>
  <td><%= link_to '<i class="fa fa-wrench"></i>'.html_safe, admin_subject_pages_path(subject) %></td> 
  <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_subject_path(subject), data: {confirm: "Are you sure?"}, method: :delete, remote: true %></td>
  <td>
    <% if subject.published == false %>
      <%= render partial: 'publish', locals: {subject: subject} %>
    <% else %>
      <%= render partial: 'unpublish', locals: {subject: subject} %>
    <% end %>
  </td>
</tr>