<% content_for(:body_id, "admin-pages") %> 

  <div class="columns large-12">
   <h2 class='page-title'>All Lessons</h2>
   <div class="center-buttons"><a href="<%= admin_users_path %>" class=" button">View Users</a>
    <a href="<%= new_post_path %>" class=" button">Write Blog Post</a>
   </div>
</div>
   
   
<div class="row large-row">
  <div class="large-12 columns">
    <div class="large-4 columns">
      <div class="panel">
        <h3>Math</h3>
        <a href="#" class="show-lesson-form tiny button">New Lesson</a>
        <%= render 'admin/subjects/new_math_form', subject: @subject %>
        <table width="100%">
          <thead>
          </thead>
    
            <tbody>

              <% @subjects.each do |subject| %>  
               <% next if subject.section != "Math" %>
               <%= render 'admin/subjects/math_row', subject: subject %>
              <% end %>
            </tbody>
          </table> 
        </div> 
      </div>

    <div class="large-4 columns">
      <div class="panel">
        <h3>Critical Reading</h3>
        <a href="#" class="show-lesson-form tiny button">New Lesson</a>
        <%= render 'admin/subjects/new_reading_form', subject: @subject %>
        <table width="100%">
          <thead>
            <tr> 
              
            </tr>
          </thead>
        
          <tbody>

            <% @subjects.each do |subject| %>
              <% next if subject.section != "Critical Reading" %>
               <%= render 'admin/subjects/reading_row', subject: subject %>
              <%end%>
          </tbody>
        </table>
      </div> 
    </div>

    <div class="large-4 columns">
      <div class="panel">
        <h3>Writing</h3>
        <a href="#" class="show-lesson-form tiny button">New Lesson</a>
        <%= render 'admin/subjects/new_writing_form', subject: @subject %>
        <table width="100%">
          <thead>
            <tr>
           
            </tr>
          </thead>
        
          <tbody class="writing">

            <% @subjects.each do |subject| %>
              
              <% next if subject.section != "Writing" %>
              <%= render 'admin/subjects/writing_row', subject: subject %>
            <%end%>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>

  <script type="text/javascript">

// subjinit.publish();

</script>
  
