<h1>Admin Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
      
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.section %></td>
        <td><%= subject.name %></td>
        <td><%= link_to 'Show', admin_subject_pages_path(subject) %></td>
        <td><%= link_to 'Edit', edit_admin_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_admin_subject_path %>