<% content_for(:body_id, "admin_pages") %> 
<div class="row">
  <div class="columns large-12">
     <h2>All Lessons</h2>
     <a href="<%= admin_users_path %>" class="small button">View Users</a>
    <a href="<%= new_admin_subject_path %>" class="small button">Create A New Subject</a>
    <a href="<%= new_post_path %>" class="small button">Write Blog Post</a>
    <br>

<div class="row">
  <div class="large-12 ">
    <div class="panel">
      <h3>Math Lessons</h3>
      <table width="100%">
        <thead>
        </thead>
  
          <tbody>

            <% @subjects.each do |subject| %>
              
              <tr>
              <% if subject.section == "Math" %>
                <td><%= link_to "#{subject.name} (#{subject.pages.count} pages)", admin_subject_pages_path(subject) %></td>
                <td><%= link_to 'Edit Subject Information', edit_admin_subject_path(subject) %></td>
                <td><%= link_to 'Delete', admin_subject_path(subject), method: :delete %></td>
              </tr>
            <% end %>
            <%end%>
          </tbody>
        </table> 
      </div> 

    <div class="panel">
      <h3>Critical Reading Lessons</h3>
      <table width="100%">
        <thead>
          <tr> 
            
          </tr>
        </thead>
      
        <tbody>

          <% @subjects.each do |subject| %>
            
            <tr>
            <% if subject.section == "Critical Reading" %>
              <td><%= link_to "#{subject.name} (#{subject.pages.count} pages)", admin_subject_pages_path(subject) %></td>
              <td><%= link_to 'Edit Subject Information', edit_admin_subject_path(subject) %></td>
              <td><%= link_to 'Delete', admin_subject_path(subject), method: :delete %></td>
            </tr>
          <% end %>
          <%end%>
        </tbody>
      </table>
    </div> 

    <div class="panel">
      <h3>Writing Lessons</h3>
      <table width="100%">
        <thead>
          <tr>
         
          </tr>
        </thead>
      
        <tbody>

          <% @subjects.each do |subject| %>
            
            <tr>
            <% if subject.section == "Writing" %>
              <td><%= link_to "#{subject.name} (#{subject.pages.count} pages)", admin_subject_pages_path(subject) %></td>
              <td><%= link_to 'Edit Subject Information', edit_admin_subject_path(subject) %></td>
              <td><%= link_to 'Delete', admin_subject_path(subject), method: :delete %></td>
            </tr>
          <% end %>
          <%end%>
        </tbody>
      </table>
    </div> 
  </div>

  