<% content_for(:title, "Register")%>
<% content_for(:body_id, "registrations_new") %> 


<div class="row" id="top">

  <div class="large-6 columns">
    <%= image_tag("Prepify_logo.png")%>
    <br>
    <br>
    <p>"Free Online SAT Prep"</p>
  </div>

  <div class="large-4 large-offset-2 columns">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, :autofocus => true, class: "glowing-border" %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true, class: "glowing-border" %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, class: "glowing-border" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "glowing-border" %></div>

      <div class="signup"><%= f.submit "Sign up", class: "button radius" %></div>
    <% end %>
    <%#= render "devise/shared/links" %>
  </div>
</div>

<div style="height: 80px"></div>

<div class="row bottom">
  <div class="large-4 columns radius">
    <div class="large button" id="free">Free</div>
  </div>
  <div class="large-4 columns">
    <div class="large button radius" id="talented">Talented</div>
  </div>
  <div class="large-4 columns">
   <div class="large button radius" id="adaptive">Adaptive</div>
  </div>
</div>

<div class="row below border">
  
  <div class="large-5 large-offset-1 columns">
    <h2 id="freelanding">Free</h2>
    <h2><%= image_tag("money.jpg", class: "pics")%></h2>
  </div>
  
  <div class="large-5 columns">
    <br>
    <br>
    <p>Prepify is free now and forever, with no ads, books, or keys required.</p>
    <p>We believe everyone should have the tools they need to attend the college they want.</p>
  </div>

  <div class="large-1 columns"></div>

</div>

<div class="row below">
  
  <div class="large-5 large-offset-1 columns">
    <br>
    <br>
    <p>Take quizzes and complete exercises to get recruited by admissions officers from top schools across the country. Work hard and get seen.</p>
  </div>
  
  <div class="large-5 columns">
    <h2 id="talentedlanding">Talented</h2>
    <h2><%= image_tag("university_grounds.jpg", class: "pics")%></h2>    
  </div>

  <div class="large-1 columns"></div>

</div>

<div class="row below">
  
  <div class="large-5 large-offset-1 columns">
    <h2 id="adaptivelanding">Adaptive</h2>
    <h2><%= image_tag("test.jpg", class: "pics")%></h2>
  </div>
  
  <div class="large-5 columns">
    <br>
    <br>
    <p>Prepify tests adapt their difficulty to continually challenge and expand your abilities. The better you do, the more difficult your questions become.</p>
  </div>
  
  <div class="large-1 columns"></div>

</div>