<% content_for(:body_id, "lesson_pages") %> 

 <div class="panel">       
    <div class="row">
      <h3><%= @subject.name %></h3>      
    </div>
</div>

<div class="row">
  <div class="large-4 columns centered">
    <div class="field">
      <div class="subheader">
  		<h6><%= @instruction.body %></h6> 
      </div>
      <div class="slider"> 
      <img src="<%= @instruction.image %>" width="200" height="80">  
      </div>
        <%= progress_bar( progress(@page) )%>
        <hr>
        <h5><%= link_to "Next Page", next_page(current_user, @page)%></h5>
        <h5><%= link_to 'Previous Page',user_subjects_path(current_user, @page)%></h5>     
    </div>
  </div>
</div>