<p id="notice"><%= notice %></p>

<p>
	<div class=content>
  <strong>Body:</strong>
  <%= @instruction.body %>
  <div class="th radius">
  	<img src="<%= @instruction.image %>"></div>
</div>
<div class="progress large-6 success round">
	<%= progress_bar(progress(@user, @instruction.page))%>
</div>


<%= link_to "Next Page", next_page(@user, @instruction.page) %>



