<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @instruction.body %>
  <img src="<%= @instruction.image %>">
</p>
<div class="progress large-6 success round">
	<span class="meter"></span>
</div>

<script type="text/javascript">	
$('.meter').progressbar({
				value: <%= progress(@user, @instruction.page) %>
});
</script>
<%= link_to "Next Page", next_page(@user, @instruction.page) %>



