<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @instruction.body %>
  <img src="<%= @instruction.image %>">
</p>
<div class="progress">
    <%#= progress_bar(<%= progess(@user, @question.page) %>
</div>

<script type="text/javascript">	
$('.progress').progressbar({
				value: <%= progress(@user, @instruction.page) %>
			});
</script>
<%= link_to "Next Page", next_page(@user, @instruction.page) %>



