<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @instruction.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @instruction.image %>
</p>

<%= link_to 'Edit', edit_instruction_path(@instruction) %> |
<%= link_to 'Back', instructions_path %>
