<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>

</p>

<h2>Your Progress</h2>
<h3><% get_progress_report(@user, @courses)%></h3>
<h3><%= @subject %>: <%= @status%></h3>

<%= link_to 'Back', users_path%>
<%= link_to 'Back to Lessons', user_subjects_path(@user.id)%>

