<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Pageable</th>
      <th>Pageable type</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.sequence_id %></td>
        <td><%= page.pageable_id %></td>
        <td><%= page.pageable_type %></td>
        <td><%= page.subject %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
