<% content_for(:body_id, "admin-pages")%> 



     
<br>
        <div class="row">
          <div class="columns large-12 centered">
            <div class="radius panel callout ">
              <h3><%= @question.page.subject.name %></h3>       
            </div>
          </div>
        </div>
      </div>
        <!-- End Header Content -->
         <div class="row">
          <div class="columns large-12 centered">
            <div class="panel">
              <h3><%= @question.body %></h3>
             <div class="field">
              <div class="choices">
                <% @question.choices.each do |choice| %>
                  <div class="choice" >
                    <%= radio_button :question, :choices, choice %>
                    <%= choice %><br>
                  </div>            
                <%end%>
              </div> 
            </div>
          </div>           
        
          <div class="submit">
            <button class="button small round" type="button">Check Answer</button> 
          </div>
        </div>
        <!-- End Search Bar -->
        <!-- Thumbnails -->
          <%= link_to "Edit Question Content" , edit_admin_subject_question_path(@subject, @question) %> 
          <br>
          <%= link_to "Back to #{@subject.name} page", admin_subject_pages_path(@subject) %>
          </div>
   
    






