<% content_for(:body_id, "subject")%> 
<body>
  <div class="row">
    <div class="large-8-centered columns ">
      <h3>Get Prepared</h3>
    </div>
  </div> 

       <!-- First Band (Slider) -->
    <div class="row">
      <div class="large-12 columns centered columns">
        <div class="panel">
          <h3>Get Started with SAT Basics!</h3>          
            <div class="slider">
              <div class="main"><div class="round"><%= image_tag("basics.jpg")%></div>   
                <div class="panel">
                  <h5 class="subheader"><%= link_to "Start Course"%></h5>
                </div>
              </div>
            </div>          
          </div>
          <hr>
        </div>
      </div>
    </div>
  <div class="large-8 centered columns">
          <div class="row">
            #offset by 4
            <div class="large-4 small-6 columns">
              <%= image_tag("math-2.jpeg")%>
    
              <div class="panel">
                <h5><%= Subject.find(1).section %></h5>
                <h6 class="subheader"><%= link_to "See Courses"%></h6>
              </div>
            </div>
            #center 
            <div class="large-4 small-6 columns">
              <%= image_tag("books-2.jpg")%>

              <div class="panel">
                <h5><%= Subject.find(2).section%></h5>
                <h6 class="subheader"><%= link_to "See Courses"%></h6>
              </div>
            </div>
              #offset by 8
            <div class="large-4 small-6 columns">
              <%= image_tag("writing.jpeg")%>

              <div class="panel">
                <h5> <%= Subject.find(3).section%></h5>
                <h6 class="subheader"><%= link_to "See Courses"%></h6>
              </div>
            </div>           
          </div>

    <!-- End Thumbnails -->


 
 
  <!-- Footer -->
  <div class="row">
    <footer class="bottom">
      <div class="large-12 columns">        
        
          <div class="large-6 columns">            
            <p class="subtext">&copy; Copyright Prepify, LLC</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><%= link_to 'Home', user_path(@user) %></li>
              <li>
                <a href="#">Sign Up</a>
              </li>
              <li>
                <a href="#">All Courses</a>
                <ul class="ul-dash">                  
                  <li class="subtext"><%= Subject.first.name %></li>
                  <li class="subtext"><%= Subject.find(2).name %></li>
                  <li class="subtext"><%= Subject.find(3).name %></li>
                </ul>
              </li>
              <li>
                <a href="#">Practice SAT</a>
              </li>
            </ul>            
          </div>        
      </div>
    </footer>
  </div>
</body>



