- content_for(:body_id, "subject")
.row
  .large-6.small-6.centered.columns
    .panel
      %h3 Get Prepared
        .slider
          = image_tag("basics.jpg")
        %h4 Student Resources
        %h6
          Taking the SAT? Practice your skills with Prepify for
          %span.label free!
        %h5.subheader
          %a{:href => "http://sat.collegeboard.org/home"} SAT Collegeboard
        %h5.subheader
          %a{:href => "#"} University Listing
    .large-6.small-6.centered.columns
      .panel
        %h3 Get Started with SAT Basics!
        .slider
          = image_tag("basics.jpg")
        .panel
          %h5 Completed Lesson
          %h3
              %h3
              %h3/
              %h3
              %h5.subheader= link_to "Start Course"
      %hr/

// panel area with 3 smallish sections

  .row
    .large-12.small.6.column.centered
      .panel.centered
        %h3 All Courses
    .row
      .large-4.small-6.column.offset.by.4
        = image_tag("math-2.jpeg")
        .panel
          %h5= Subject.find(1).section
          %h6.subheader= link_to "See Courses", user_subject_path(current_user, Subject.find(1))
      .large-4.small-6.columns.centered
        = image_tag("books-2.jpg")
        .panel
          %h5= Subject.find(2).section
          %h6.subheader= link_to "See Courses" , user_subject_path(current_user, Subject.find(2))
      .large-4.small-6.columns.offset.8
        = image_tag("writing.jpeg")
        .panel
          %h5
            = Subject.find(3).section
          %h6.subheader= link_to "See Courses", user_subject_path(current_user, Subject.find(3))
    / End Thumbnails
    / Footer
    .row
      .columns.large-12.large-centered
        .radius.panel
          %footer.bottom
            .large-12.columns
              .large-6.columns
                %p.subtext &copy; Copyright Prepify, LLC
              .large-6.columns
                %ul.inline-list.right
                  %li= link_to 'Home', user_path(@user)
                  %li
                    %a{:href => "#"} Sign Up
                  %li
                    %a{:href => "#"} All Courses
                    %ul.ul-dash
                      %li.subtext= Subject.first.name
                      %li.subtext= Subject.find(2).name
                      %li.subtext= Subject.find(3).name
                  %li
                    %a{:href => "#"} Practice SAT
      .row
        .columns.large-12-centered
          = link_to 'Home', user_path(current_user)
