<% content_for(:title, "#{@subject.name}")%>
<% content_for(:body_id, "subject")%> 


  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Feed</title>

  <!-- Included CSS Files -->
  
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.min.css">

  <!-- Link to experimental Foundation 5 grid containing medium styles -->
  <link rel="stylesheet" href="css/grid-5.css">

  <script src="js/vendor/custom.modernizr.js"></script>
<body>
	<br>
  <div class="row">

    <div class="small-12 medium-8 large-6 columns medium-push-4 large-push-3">

      <!-- Feed Entry -->
      <div class="row">
        
        <div class="small-9 large-10 columns">
        <h2><%= @subject.name %></h2>
	               
        
          <h5 class="subheader">The Math skills required for the SAT are of a basic standard that should be within the reach of a tenth grade student. You don't need to learn up lots of new formulae but you will need to sharpen up your thinking skills. 

          You are allowed to use a calculator and you should have one with you while doing tests. But for most questions you won't need it: use it mainly to check your arithmetic. You are allowed to do rough work on the paper, so have some rough sheets available when you start the mini tests. Remember, math skills improve with practice.</h5>

          <% if current_user.completed_subject?(@subject)%>
        <h6 class="complete">Completed Lesson</h6>        
        <h5 class="left"><a href="<%= user_subjects_path(current_user)%>"><i class="fa fa-arrow-circle-left"> </i> Back</a></h5>
        <h5 class="inline right"><a href="<%=start_page(current_user, @subject)%>">Review Lesson <i class="fa fa-arrow-circle-right"></i></a></h5>

        <% elsif current_user.started_subject?(@subject) %>          
        <h5 class="left"><a href="<%= user_subjects_path(current_user)%>"><i class="fa fa-arrow-circle-left"> </i> Back</a></h5>
        <h5 class="inline right"><a href="<%=current_page(current_user, @subject)%>">Resume Lesson <i class="fa fa-arrow-circle-right"></i></a></h5>


        <% else %>
        <div class="row">
          <div class="small-9 large-10 columns">
          
        <h5 class="left"><a href="<%= user_subjects_path(current_user)%>"><i class="fa fa-arrow-circle-left"> </i> Back</a></h5>
        <h5 class="inline right"><a href="<%=start_page(current_user, @subject)%>">Start Lesson <i class="fa fa-arrow-circle-right"></i></a></h5>
        <% end %>
        </div>      
        </div>
       </div>
      </div>
		</div>
</body>

