<% content_for(:body_id, "subject")%> 
<body>
	<br>
<div class="row">
	<div class="columns large-12 centered">
	  <div class="radius panel">
	   <h3><%= @subject.name %></h3>
	    <% if current_user.completed_subject?(@subject)%>
	      <div class="success label round">Completed Lesson</div>
	      <div class="label"><%= link_to "Review", start_page(current_user, @subject)%></div>
	    <% elsif current_user.started_subject?(@subject) %>          
	      <h3><%= link_to "Resume Lesson", current_page(current_user, @subject) %><h3>
	    <% else %>
	      <h3><%= link_to "Start Lesson", start_page(current_user, @subject) %><h3>
	    <% end %>
	  </div>
	</div>
</div>
</body>
<%= link_to 'Back', user_subjects_path(current_user) %>
