<tr data-user-id='<%= user.id %>'>
             <td>
               <% if user.admin? %>
                 <%= user.name %> (Admin)
               <% else %>
                 <%= user.name %>
               <% end %>
             </td>
             <% if user != current_user %>
             <td><%= render partial: 'form', locals: {user: user}, remote: true %></td>
             <%else%>
             <td></td>
                <%end%>
             <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_user_path(user), title:"View User Information" %></td>
             <td><%= mail_to user.email, '<i class="fa fa-envelope"></i>'.html_safe, title:"Email User" %></td>  
             <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_user_path(user), data: {confirm: "Are you sure?"}, method: :delete, remote: true, title:"Delete User" %></td>





            