<% content_for(:body_id, "admin_pages") %> 
<h1>Listing users</h1>
<div class="row">
  <div class= "large-12 columns">
      <div class= "panel">
        <table id="user_table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>User ID </th>
              <th>Admin?</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
            <td>
              <% if user.admin? %>
                <%= user.name %> (Admin)
              <% else %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.id %></td>
            <td><%= render partial: 'form', locals: {user: user} %></td>
    
             <% end %>
          
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  


