<% content_for(:body_id, "admin_pages") %> 

<div class= "row">
  <div class="columns large-12">
     <h2 class='page-title'>User Information</h2>
     <div class="center-buttons"><a href="<%= admin_users_path %>" class=" button">Back to all Users</a>
     </div>
  </div>
</div>

<div class= "row">
  <div class="columns large-12">
    <% if @user.admin? %>
      <div class="panel user-info">
        <p><strong>Name: </strong><%= @user.name %></p>
        <p><strong>Email: </strong><%= @user.email %></p>
      </div>
    <% else %>
     <div class="panel user-info">
        <p><strong>Name: </strong><%= @user.name %></p>
        <p><strong>Email: </strong><%= @user.email %></p>
        <p><strong>School: </strong></p>
        <p><strong>View Report Card: </strong></p>
      </div>
    <% end %>

  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
