<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Karla|Tinos|Leckerli+One|Covered+By+Your+Grace|Sansita+One' rel='stylesheet' type='text/css'>
<!-- FontAwesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">



  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
 <%= javascript_include_tag 'vendor/custom.modernizr' %>
    
    <%= javascript_include_tag "application"%>
  	<%= stylesheet_link_tag "application" %>
  	
    <!-- How to require topbar??? -->
     <!-- <script src="js/foundation/foundation.topbar.js"></script> -->
   
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= yield :body_id %>">
    <nav class="top-bar">
      <!-- If student -->
      <% if current_user %>
        <% if current_user.admin == false %>

         <ul class="title-area">        
          <li class="name">
            <%= image_tag("Prepify_logo_white.png", size: "100", class:"logo") %>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
          </li>

         
        </ul>
        
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li class="student-nav"><%= link_to 'Home', user_subjects_path(current_user) %></li>
            <li class="divider"></li>
            <li class="student-nav"><%= link_to 'Report Card', user_path(current_user)  %></li>
            <li class="divider"></li>
            <li class="student-nav"><%= link_to 'Blog', posts_path %></li>
            <li class="divider"></li>
            <li class= "has-dropdown student-nav"><a href="#" >Hello <%= current_user.name %></a>
              <ul class= "dropdown">
                <li class="student-nav">
                  <%= link_to 'Edit Profile', edit_user_registration_path %></li>
                  <li class="divider"></li>
                   <li class="student-nav">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
            </li>
              </ul>
            </li>

            
           
          </ul>
        </section>
      </nav>

        <!-- If admin -->
        <% elsif current_user.admin %>
  
         <ul class="title-area">        
          <li class="name">
            <%= image_tag("Prepify_logo_white.png", size: "100", class:"logo") %>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
          </li>
        </ul>
        

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li class="admin-nav"><%= link_to 'Home', admin_subjects_path %></li>
            <li class="divider"></li>
            <li class="admin-nav"><%= link_to 'Users', admin_users_path %></li>
            <li class="divider"></li>
            <li class="admin-nav"><%= link_to 'Blog', posts_path %></li>
            <li class="divider"></li>
            <li class= "has-dropdown admin-nav"><a href="#" >Hello <%= current_user.name %></a>
              <ul class= "dropdown">
                <li class="admin-nav">
                  <%= link_to 'Edit Profile', edit_user_registration_path %></li>
                  <li class="divider"></li>
                   <li class="admin-nav">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
            </li>
              </ul>
            </li>

            
           
          </ul>
        </section>
      </nav>
      <div class="row"></div>

      <div id="banner"></div>
        <% end %>

      <% else %>

      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        </ul>
      </section>
    </nav>

        <% end %>
    <%#= render "footer"%>
       
<!-- 
    <p class="notice">
      <%#= notice unless notice.blank? %>
    </p>
    <p class="alert">
      <%#= alert unless alert.blank? %>
    </p> -->
  <section id="wrap">
    <%= yield %>
  </section>
  
  <footer id="footer">
    <div class="row">
      <div class="small-3 columns">
        <ul>PREPIFY</ul>
          <li><i class="fa fa-twitter"></i> Follow us on Twitter</li>
          <li><i class="fa fa-facebook-square"></i> Like us on Facebook</li>
          <li><i class="fa fa-rss-square"></i><%= link_to " Read our Blog", posts_path %></li>
        </ul>
      </div>
      <div class="small-3 columns">
        <ul>MORE RESOURCES</ul>
          <li><i class="fa fa-long-arrow-right"></i> College Board</li>
          <li><i class="fa fa-long-arrow-right"></i> Flash Cards</li>
          <li><i class="fa fa-long-arrow-right"></i> SAT Info</li>
          <li><i class="fa fa-long-arrow-right"></i> More Stuff</li>
        </ul>
      </div>

      <div class="small-5 columns">
        <ul><%= image_tag("Prepify_logo_white.png", size: "150", class:"logo")%>
          <li>SAT prep for everyone</li>
        </ul>
      </ul>

    </div>
  </footer>  

    <%#= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>
